coffee:
  init = ->
    $('.js--chart').each (_, el) ->
      $el = $(el)
      new Chart $el,
        type: 'bar'
        data: $el.data('chart')
        options:
          scales:
            yAxes: [
              ticks:
                beginAtZero: true
            ]
  document.addEventListener "turbolinks:load", ->
    $ ->
      init()

= render partial: 'shared/filters'

h1= user.name

= render partial: 'charts/timesheets/by_user'
= render partial: 'charts/timesheets/by_customer'
= render partial: 'charts/timesheets/by_card'
