.container
  h1 Cards

  canvas.js--chart data-chart=chartize(interval: interval, grouped_timesheets: timesheets_by_card, zoom: zoom)

  = render partial: 'charts/timesheets/summary', locals: { grouped_timesheets: timesheets_by_card }
