.container
  h1 Users

  canvas.js--chart data-chart=chartize(interval: interval, grouped_timesheets: timesheets_by_user, zoom: zoom)

  = render partial: 'charts/timesheets/summary', locals: { grouped_timesheets: timesheets_by_user }
